/* Universal */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F1F1F1; /* Light Gray */
    color: #333333; /* Dark Gray text for better contrast */
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}

/* Header Section */
header {
    height: 10rem;
    background-color: antiquewhite; /* Original header color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    font-family: "Exo 2", sans-serif;
    font-style: bolder;
    font-size: 2rem;
}

.title {
    font-family: "Monoton", sans-serif;
    font-weight: 100;
    font-size: 5rem;
    word-spacing: 5px;
}

ul {
    display: flex;
    gap: 100px;
}

/* Main Section */
main {
    flex-grow: 1;
    background-color: #FFFFFF; /* White background for main section */
    color: #333333; /* Dark Gray text for contrast */
}

/* Footer */
footer {
    height: 5rem;
    background-color: #2C3E50; /* Dark Slate Gray */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#author {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    font-family: "Tilt Warp", sans-serif;
    color: #FFFFFF; /* White text */
}

/* Logo with Box Shadow */
.social {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8); /* Light white glow effect */
    height: 50px;
    border-radius: 50%;
}
